<div class="p-4 border-slate-800/60 border rounded-lg overflow-auto h-[500px]">
  <article class="prose container ">
    <h1  data-article-target="titlePreview"><%= article.title %></h1>
    <div data-article-target="bodyPreview">
      <%= article.body %>
    </div>
  </article>
</div>
