<h1>Articles</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<% if user_signed_in? %>
  <%= link_to new_article_path do %>
    <div class="transition duration-300 ease-in-out fixed bottom-4 right-4 bg-slate-800/60 hover:bg-slate-800 rounded-full flex items-center justify-center h-14 w-14">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
        <path fill="#ffffff" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
      </svg>
    </div>
  <% end %>
<% end %>
