<h1>Create new article</h1>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-2" data-controller="article">
    <%= render "form", article: @article %>
    <%= render "preview", article: @article %>
</div>
