
<div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden color-<%= assign_color(@user.id) %> rounded-full ">
    <span class="font-bold text-white dark:text-gray-300"><%= @user.username[0,1].upcase %></span>
</div>


